[submodule "image_datagen"]
	path = image_datagen
	url = https://github.com/fwindolf/image-datagen.git
[submodule "image_models"]
	path = image_models
	url = https://github.com/fwindolf/image-models.git
